<mat-card>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput formControlName="password" type="password" required />
    </mat-form-field>

    <div>
      <button mat-raised-button color="primary" type="submit">Connexion</button>
    </div>
    <div>
      <button mat-button routerLink="/reset-password" routerLinkActive="active-link">
        Mot de passe oublié ?</button>
    </div>
    <div>
      <button mat-button routerLink="/register" routerLinkActive="active-link">
        Créer un compte utilisateur.</button>
    </div>
  </form>
</mat-card>